<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Team - Startup</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="css/startup-materialize.min.css">

  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <div class="video-container">
    <video width=100% height=100% class="responsive-video" controls autoplay loop muted>
      <source src="//gslb.miaopai.com/stream/M~flG6bghzKO1Prd0fZw5PqIp2ANOanH.mp4" type="video/mp4">
    </video>
  </div>


    <div class="carousel">
         <a class="carousel-item" href="#one!"><img src="https://ws1.sinaimg.cn/large/006tKfTcgy1fgf2rny52zj30nk0nkwgv.jpg"></a>
         <a class="carousel-item" href="#two!"><img src="https://ws1.sinaimg.cn/large/006tKfTcgy1fgf2rudouzj30nk0nkgrn.jpg"></a>
         <a class="carousel-item" href="#three!"><img src="https://ws1.sinaimg.cn/large/006tKfTcgy1fgf2ju01e3j30u00u0n5c.jpg"></a>
         <a class="carousel-item" href="#four!"><img src="https://ws3.sinaimg.cn/large/006tKfTcgy1fgf2rkqgicj30ng0ng0ww.jpg"></a>
         <a class="carousel-item" href="#five!"><img src="https://ws2.sinaimg.cn/large/006tKfTcgy1fgf2rr59l4j30nk0nkq5m.jpg"></a>
    </div>








    <!-- Clients -->
    <div class="section black clients">
      <div class="container">
        <!-- <h2 class="section-title">我们的服务</h2> -->
      </div>
      <div class="row">
        <a href="/products?category=PADI课程" class="col s12 m6 l4 client white">
          <img class="logo" src='<%= image_url 'padi.png' %>' alt="PADI">
          <span class="title">休闲潜水</span>
        </a>
        <a href="/products?category=度假行程" class="col s12 m6 l4 client yellow">
          <img class="logo" src='<%= image_url 'acc.png' %>' alt="acc">
          <span class="title">度假村潜水</span>
        </a>
        <a href="/products?category=入门装备" class="col s12 m6 l4 client light-blue lighten-4">
          <img class="logo" src='<%= image_url 'icon-mask.png' %>' alt="mask">
          <span class="title">入门装备</span>
        </a>
        <a href="products?category=PSAI课程" class="col s12 m6 l4 client red lighten-4">
          <img class="logo" src='<%= image_url 'psai.png' %>' alt="psai">
          <span class="title">技术潜水</span>
        </a>
        <a href="/products?category=船宿行程" class="col s12 m6 l4 client pink accent-1">
          <img class="logo" src='<%= image_url 'unacc .png' %>' alt="船宿">
          <span class="title">船宿潜水</span>
        </a>
        <a href="/products?category=进阶装备" class="col s12 m6 l4 client green accent-3">
          <img class="logo" src='<%= image_url 'tech.png' %>' alt="medium">
          <span class="title">进阶装备</span>
        </a>
      </div>
    </div>

    <!-- Features -->
 <div class="section valign-wrapper">
   <div class="container">
     <div class="row">
       <div class="col s12"><h2 class="section-title">潜在世界 因热爱而生</h2></div>
       <div class="col s12 m6 l4">
         <h4><i class="icon-light-bulb"></i></h4>
         <p class="caption">拥有世界顶级的具有丰富执教经验的潜水教练,使用中英文教学</p>
       </div>
       <div class="col s12 m6 l4">
         <h4><i class="icon-bolt"></i></h4>
         <p class="caption">拥有专属的潜水度假村和潜水教学基地，最大化保障学员授课质量</p>
       </div>
       <div class="col s12 m6 l4">
         <h4><i class="icon-rocket"></i></h4>
         <p class="caption">拥有足迹遍布全球的私人旅行定制师，为你量身打造全球潜水旅行计划</p>
       </div>
       <div class="col s12 m6 l4">
         <h4><i class="icon-settings"></i></h4>
         <p class="caption">提供从PADI(休闲潜水)到PSAI(技术潜水)全套专业教学课程</p>
       </div>
       <div class="col s12 m6 l4">
         <h4><i class="icon-umbrella"></i></h4>
         <p class="caption">优选经得起岁月和时间考验的专业潜水设备</p>
       </div>
       <div class="col s12 m6 l4">
         <h4><i class="icon-compass"></i></h4>
         <p class="caption">专业定制师量身定制最专业、最贴心的潜水行程</p>
       </div>
     </div>
   </div>
 </div>




<div class="section light full-height">
 <div class="row">
   <div class="col s12 m10 offset-m1 center">
     <h1>我们曾去探访过这些海域</h1>
     <div class="row masonry-grid">
       <div class="col s12 m12">
         <video <video class="responsive-video" controls autoplay loop muted>
          <source src="http://gslb.miaopai.com/stream/L0dpMkJpKpPLsNMhaKIkSgOb~OcUK0u0.mp4?ssig=27f8f8d2db06fb1c2b219120a02f1154&time_stamp=1497134742496&cookie_id=5937e99d44f85&vend=1&os=3&partner=1&platform=2&cookie_id=&refer=miaopai&scid=L0dpMkJpKpPLsNMhaKIkSgOb%7EOcUK0u0" type="video/mp4">
        </video>
             <!-- <span class="card-title">拉央拉央2017年4月</span> -->
           </div>
         </div>
       </div>

       <div class="col s12 m4">
         <div class="card">
           <div class="card-image">
             <a href="blog.html"><img src="https://ws3.sinaimg.cn/large/006tNbRwgy1fgguadme8jj30go0b4go2.jpg"></a>
             <span class="card-title">诗巴丹</span>
           </div>
         </div>
       </div>
       <div class="col s12 m4">
         <div class="card">
           <div class="card-image">
             <a href="blog.html"><img src="https://ws3.sinaimg.cn/large/006tNbRwgy1fgguabokp6j30go0b4tdo.jpg"></a>
             <span class="card-title">马尔代夫</span>
           </div>
         </div>
       </div>
       <div class="col s12 m4">
         <div class="card">
           <div class="card-image">
             <a href="blog.html"><img src="https://ws3.sinaimg.cn/large/006tNbRwgy1fgguaabn1pj30go0b445g.jpg"></a>
             <span class="card-title">马拉图阿</span>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
</div>




<div class="row">
  <div class="col s12 m10 offset-m1 center">
            <div class="card">
            <div class="card-image">
              <img src="https://ws1.sinaimg.cn/large/006tKfTcgy1fgf2jtdmi8j30zk0nkgoi.jpg">
              <span class="card-title">想和远洋白鳍鲨,美人鱼在海底约会吗?想去海底一探沉船吗?想知道在能见度80米的海域和一群海豚同游的感受吗?</span>
            </div>
            <div class="amber darken-3 card-content">
              <h4>技潜水摄大神亲自带队, 8天7晚红海BED经典路线, 黄金十一仅余少量席位</h4>
            </div>
            <div class="card-action">
              <a href="https://divingworld.herokuapp.com/products/15">即刻加入</a>
            </div>
          </div>
        </div>
      </div>






     <!-- Contact Us -->
     <div class="section light valign-wrapper">
       <div class="container">
         <form>
           <div class="row">
             <div class="col s12"><h2 class="section-title">联系我们</h2></div>
             <div class="input-field col s6">
               <input id="first_name" type="text">
               <label for="first_name">姓名</label>
             </div>
             <div class="input-field col s6">
               <input id="last_name" type="text">
               <label for="last_name">联系方式</label>
             </div>
             <div class="input-field col s12">
               <textarea id="message" class="materialize-textarea"></textarea>
               <label for="message">留言信息</label>
               <a class="waves-effect waves-light btn-large">提交</a>
             </div>
           </div>
         </form>
       </div>
     </div>

    <!-- Footer -->
    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col s6 m3">
            <a class="navbar-brand" href="/">
            <img src='<%= image_url 'logo2.png' %>' ></a>

            <!-- <img class="materialize-logo" src="//ws4.sinaimg.cn/large/006tNc79gy1fgd43xlavqj302s02s746.jpg" alt=""> -->
            <p>Design by 火冰 & 大鹏</p>
          </div>
          <div class="col s6 m3">
            <h5>关于我们</h5>
            <ul>
              <li><a href="https://mp.weixin.qq.com/s?__biz=MzIxMzQzNjk5MA==&mid=2247483912&idx=1&sn=6b2be32fdf7732ae7806318ebc23ea9d&chksm=97b79d59a0c0144f3f15845634820ecd269ad0d352b901046a377b895fc4f64069aad76267e9&mpshare=1&scene=1&srcid=0609zzGZqkGwwTZDbKABlyfC&key=edbc4bce6a6454e85d88e93a1a1c2aae98a437783e9184ee0e86ce325b43f355a02f6bc8076b4af601159498d53ebc226347b265bfdd91e9e025d61b49049e8d828444cb8a2a755481d086e13cbb06de&ascene=0&uin=MTQzNzA0OTkwMA%3D%3D&devicetype=iMac+MacBookPro11%2C4+OSX+OSX+10.12.4+build(16E195)&version=12020610&nettype=WIFI&fontScale=100&pass_ticket=i1gu3QPFM9bVhbQJukM3qDwyyohH9tJTIHqwiz15PbG4nQFw4MfH8bA3ZnanKqEB">公众号</a></li>
              <li><a href="#!"></a></li>
            </ul>
          </div>
          <div class="col s6 m3">
            <h5>合作伙伴</h5>
            <ul>
              <li><a href="#!">悟空定制</a></li>
              <li><a href="#!">godive</a></li>
            </ul>
          </div>
          <div class="col s6 m3">
            <h5>问题指南</h5>
            <ul>
              <li><a href="#!">流程介绍</a></li>
              <li><a href="#!">合作方式</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>


</body>
    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="js/materialize.min.js"></script>

    <!-- External libraries -->
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/masonry.pkgd.min.js"></script>
    <script src="js/TweenMax.min.js"></script>
    <script src="js/ScrollMagic.min.js"></script>
    <script src="js/animation.gsap.min.js"></script>

    <!-- Initialization script -->
    <script src="js/startup.js"></script>
    <script src="js/init.js"></script>

</html>
