<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2 class="text-center">编辑分类</h2>
      <%= render "form" %>

      <!-- <hr>
      <div class="col-md-8 col-md-offset-2 admin-data-box">
        <hr style="size:2px" />

        <%= simple_form_for [:admin, @category_group] do |f| %>
          <%= f.input :name, label: "大类名称") %>
          <%= f.input :description, label: "描述") %>
          <div class="form-actions">
            <%= f.submit "提交", class: 'btn btn-md btn-default' %>
          </div>
        <% end %>
      </div> -->

    </div>
  </div>
</div>
