<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2 class="text-center">新增商品</h2>

        <%= simple_form_for [:admin, @product] do |f| %>

          <div class="group">
            <%= f.input :title, :label => "商品名称" %>
          </div>

          <div class="group">
            <%= f.input :category_id, label: "分类", required: true, as: :select, collection: @categories %>
          </div>

          <div class="group">
            <%= f.input :description, :label => "商品简述" %>
          </div>

          <div class="group">
            <%= f.input :quantity, :label => "库存" %>
          </div>

          <div class="group">
            <%= f.input :price, :label => "价格" %>
          </div>

          <div class="group">

            <%= f.label :avatar %><br>
            <%= f.file_field :avatar, :multiple => true, name: "photos[avatar][]" %>
          </div>

          <div class="group">
            <%= f.input :detail, as: :wysihtml5, :label => "商品详情" %>
          </div>

          <%= f.submit "Submit", data: { disable_with: "Submitting..." }, :class => "btn btn-primary" %>

        <% end %>

    </div>
  </div>
</div>
